.red
{
    color: red;
}
.maintable
{
    border-collapse: collapse;
}
td
{
    vertical-align: top;
    padding: 3px;
}
.mainCells
{
    padding: 10px;;
}
.maintable tr:first-child
{
    border-bottom: 3px solid #ADADAD;
}
.subTable tr:first-child
{
    border-bottom: 3px solid #A0A0A0;
}
.subTable tr:nth-child(2) td
{
    border-bottom: 3px solid #CDCDCD;
}
.mainTitle
{
    font-size: 500%;
    margin: 0;
}